openapi: 3.0.3
info:
  termsOfService: 'https://termofservice.it'
  title: API B2B avanzamento notifiche
  x-summary: API B2B avanzamento notifiche
  version: 1.0.0
  x-api-id: api-internal-b2b-webhook
  description: |-
    I mittenti di notifica possono seguire il flusso di avanzamento delle notifiche in modo  automatico. E' possibile definire fino ad un massimo di 5 configurazioni di flussi per  informazioni relative a: <br/>
      - cambiamento di stato della notifica;  <br/>
      - inserimento di elementi nella timeline. <br/>

    Per ognuno di questi elementi è possibile definire un filtro per ricevere solo alcuni  cambiamenti di stato o determinati eventi di timeline.
    Esempio: - Ricezione dell'accettazione o rifiuto delle notifiche:
    `` {
      "title": "NotificationAccepted",
      "eventType": "STATUS",
      "filterValues": [
        "ACCEPTED","
      ]
    } ``
    Gli stati della notifica sono: $ref: './schemas-pn-status-v1.yaml#/components/schemas/NotificationStatus'
    Le categorie degli eventi di timeline sono:  $ref: './schemas-pn-timeline-v1.yaml#/components/schemas/TimelineElementCategory'
    Le operazioni con il tag __Streams__ gestiscono la configurazione: <br/>
      - Creazione; <br/>
      - Modifica; <br/>
      - Cancellazione. <br/>

    Le operazioni con il tag __Events__ sono quelle utilizzate per la lettura degli eventi  filtrati in base alla configurazione impostata negli streams.
    La api restituisce un massimo di 100 elementi. Se ci sono ulteriori eventi nello stream sarà restituito  l'elemento `retryAfter = 0`, per ottenere gli eventi successivi è necessario richiamare il servizio  passando il parametro _lastEventId_ valorizzato con l'ultimo _eventId_ della richiesta precedente. Questo permetterà alla piattaforma di cancellare gli eventi precedenti.
    Gli eventi sono mantenuti per un massimo di X giorni dopo i quali sono automaticamente cancellati anche se non sono stati prelevati dallo stream.
  contact:
    email: pn@pagopa.it
  license:
    name: Licenza di PN
    url: 'https://da-definire/'
servers:
  - url: 'https://api.pn.pagopa.it'
    description: Ambiente di produzione
  - url: 'https://api.uat.pn.pagopa.it'
    description: Ambiente di test
  - url: 'https://api.dev.pn.pagopa.it'
    description: Ambiente di sviluppo
tags:
  - name: HealthCheck
    description: Invocazioni per sapere lo stato del microservizio
  - name: Streams
    description: Gestione degli stream di eventi che PN mette a disposizione
  - name: Events
    description: Metodi per la lettura degli eventi dagli stream
paths:
  /status:
    get:
      summary: healthCheck path
      description: healtCheck path per verificare lo stato del microservizio
      tags:
        - HealthCheck
      operationId: status
      responses:
        '200':
          description: Ok
        '500':
          description: Internal Server Error
  /delivery-progresses/streams:
    post:
      summary: Crea nuovo stream di eventi
      description: 'Viene richiesta la creazione di un flusso di eventi specificando se gli eventi saranno  relativi ai cambi di stato o agli eventi di timeline. <br/> In risposta, Piattaforma Notifiche, comunicherà un identificativo dello stream e il  timestamp di effettiva attivazione del flusso, tipicamente pochi secondi dopo che è stata  invocata l''operazione.'
      tags:
        - Streams
      operationId: createEventStream
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamCreationRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamMetadataResponse'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: '#/paths/~1delivery-progresses~1streams/get/responses/400/content/application~1problem%2Bjson/schema'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/paths/~1delivery-progresses~1streams/get/responses/400/content/application~1problem%2Bjson/schema'
    get:
      summary: Elenca stream di eventi
      description: Elenca gli stream di eventi
      tags:
        - Streams
      operationId: listEventStreams
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamListResponse'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                properties:
                  type:
                    description: URI reference of type definition
                    type: string
                  status:
                    description: The HTTP status code generated by the origin server for this occurrence of the problem.
                    type: integer
                    format: int32
                    example: 503
                    maximum: 600
                    minimum: 100
                    exclusiveMaximum: true
                  title:
                    description: 'A short, summary of the problem type. Written in english and readable'
                    example: Service Unavailable
                    maxLength: 64
                    pattern: '^[ -~]{0,64}$'
                    type: string
                  detail:
                    description: A human readable explanation of the problem.
                    example: Request took too long to complete.
                    maxLength: 4096
                    pattern: '^.{0,4096}$'
                    type: string
                  traceId:
                    description: Internal support identifier associated to error
                    example: 123e4567-e89b-12d3-a456-426614174000
                    type: string
                  timestamp:
                    description: date and time referred to UTC
                    example: 2022-07-27T12:22:33.444Z
                    type: string
                    format: date-time
                  errors:
                    type: array
                    minItems: 1
                    items:
                      properties:
                        code:
                          description: 'Internal code of the error, in human-readable format'
                          example: PN_PARAMETER_TOO_LONG | PN_PARAMETER_TOO_SHORT | PN_DUPLICATE_ENTRY | etc...
                          type: string
                        element:
                          description: Parameter or request body field name for validation error
                          example: 'body.order.item[2].quantity'
                          type: string
                        detail:
                          description: A human readable explanation specific to this occurrence of the problem.
                          example: Parameter not valid
                          maxLength: 1024
                          type: string
                      required:
                        - code
                required:
                  - status
                  - errors
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/paths/~1delivery-progresses~1streams/get/responses/400/content/application~1problem%2Bjson/schema'
  '/delivery-progresses/streams/{streamId}':
    parameters:
      - $ref: '#/components/parameters/pathStreamId'
    get:
      summary: Leggi metadati dello stream
      description: Permette di leggere le configurazioni di uno stream di eventi.
      tags:
        - Streams
      operationId: retrieveEventStream
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamMetadataResponse'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: '#/paths/~1delivery-progresses~1streams/get/responses/400/content/application~1problem%2Bjson/schema'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/paths/~1delivery-progresses~1streams/get/responses/400/content/application~1problem%2Bjson/schema'
    put:
      summary: Update Stream metadata
      description: Permette di cambiare le configurazioni dei filtri associati a uno stream di eventi
      tags:
        - Streams
      operationId: updateEventStream
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamCreationRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamMetadataResponse'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: '#/paths/~1delivery-progresses~1streams/get/responses/400/content/application~1problem%2Bjson/schema'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/paths/~1delivery-progresses~1streams/get/responses/400/content/application~1problem%2Bjson/schema'
    delete:
      summary: Remove Event Stream
      description: 'Elimina uno steam di eventi: elimina sia le configurazioni sia tutti gli eventi  associati allo stream e non ancora consumati.'
      tags:
        - Streams
      operationId: removeEventStream
      responses:
        '204':
          description: OK
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/paths/~1delivery-progresses~1streams/get/responses/400/content/application~1problem%2Bjson/schema'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/paths/~1delivery-progresses~1streams/get/responses/400/content/application~1problem%2Bjson/schema'
  '/delivery-progresses/streams/{streamId}/events':
    get:
      summary: Leggi progressi notifiche
      description: Permette di leggere gli eventi presenti nello stream di aggiornamenti e indica che  la P.A. ha ricevuto e memorizzato l'evento identificato dal parametro _lastEventId_ e tutti gli eventi precedenti. Tali eventi potranno essere cancellati dallo stream.
      tags:
        - Events
      operationId: consumeEventStream
      parameters:
        - $ref: '#/components/parameters/pathStreamId'
        - $ref: '#/components/parameters/queryLastEventId'
      responses:
        '200':
          description: OK
          headers:
            retry-after:
              schema:
                type: integer
                format: int32
              description: Numero di secondi di attesa prima di effettuare una nuova lettura di eventi. <br/> Sarà valorizzato a zero se ci sono eventi in coda che non sono stati forniti per  raggiunta dimensione massima della risposta. <br/> Sarà maggiore di zero se gli eventi in coda sono stati tutti inviati.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProgressResponse'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: '#/paths/~1delivery-progresses~1streams/get/responses/400/content/application~1problem%2Bjson/schema'
        '419':
          description: Too Many Requests
          headers:
            retry-after:
              schema:
                type: integer
                format: int32
              description: Numero di secondi di attesa prima di effettuare una nuova lettura di eventi.
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/paths/~1delivery-progresses~1streams/get/responses/400/content/application~1problem%2Bjson/schema'
components:
  parameters:
    queryLastEventId:
      description: 'Identificativo dell''ultimo evento memorizzato dal chiamante, se non passato si intende dal primo evento presente nello stream'
      name: lastEventId
      in: query
      required: false
      schema:
        type: string
    pathStreamId:
      description: Identificativo dello stream di eventi
      name: streamId
      in: path
      required: true
      schema:
        type: string
        format: uuid
  schemas:
    StreamCreationRequest:
      description: Richiesta di creazione di uno stream di eventi di avanzamento delle notifiche.
      type: object
      required:
        - title
        - eventTYpe
      properties:
        title:
          description: Nome sintetico dello stream
          type: string
        eventType:
          description: |-
            Tipo di eventi presenti nel flusso:
              - _STATUS_: cambiamenti di stato delle notifiche
              - _TIMELINE_: eventi a granularità fine
          type: string
          enum:
            - STATUS
            - TIMELINE
        filterValues:
          description: Se non _null_ indica l'elenco degli stati o elementi di timeline che  si vogliono ricevere.
          type: array
          items:
            type: string
    StreamMetadataResponse:
      description: Configurazioni di un flusso di eventi
      allOf:
        - $ref: '#/components/schemas/StreamCreationRequest'
        - type: object
          required:
            - streamId
            - activationDate
          properties:
            streamId:
              description: Identificativo del flusso di eventi
              type: string
              format: uuid
            activationDate:
              description: Timestamp in cui il flusso di eventi è stato attivato
              type: string
              format: date-time
    StreamListResponse:
      description: Elenco di flussi di eventi
      type: array
      items:
        $ref: '#/components/schemas/StreamListElement'
    StreamListElement:
      type: object
      required:
        - title
        - streamId
      properties:
        streamId:
          type: string
          format: uuid
        title:
          type: string
    ProgressResponse:
      type: array
      items:
        $ref: '#/components/schemas/ProgressResponseElement'
    ProgressResponseElement:
      type: object
      required:
        - eventId
        - timestamp
      properties:
        eventId:
          description: Elemento che garantisce univocità e ordinamento temporale all'interno dello stream
          type: string
        timestamp:
          description: Istante a cui è avvenuto l'evento
          type: string
          format: date-time
        notificationRequestId:
          description: Identificativo della richiesta di notifica
          type: string
        iun:
          description: 'Identificativo della notifica, presente solo le la richiesta di notifica è  stata accettata.'
          type: string
        newStatus:
          type: string
          description: |
            stato di avanzamento del processo di notifica:
              * `IN_VALIDATION` - notifica in attesa di validazione
              * `ACCEPTED` - notifica accettata 
              * `REFUSED` - notifica rifiutata
              * `DELIVERING` - invio della notifica in corso
              * `DELIVERED` - notifica ricevuta da tutti i destinatari
              * `VIEWED` - notifica perfezionata per presa visione da almeno un destinatario
              * `EFFECTIVE_DATE` - notifica perfezionata per decorrenza termini per un destinatario
              * `PAID` - notifica pagata
              * `UNREACHABLE` - notifica non recapitabile per tutti i destintari
              * `CANCELLED` - notifica annullata dal mittente
          enum:
            - IN_VALIDATION
            - ACCEPTED
            - DELIVERING
            - DELIVERED
            - VIEWED
            - EFFECTIVE_DATE
            - PAID
            - UNREACHABLE
            - REFUSED
            - CANCELLED
        timelineEventCategory:
          type: string
          description: |
            stato di avanzamento del processo di notifica:`
              * `REQUEST_ACCEPTED` - Richiesta di notifica accettata a seguito dei controlli di validazione
              * `REQUEST_REFUSED` - Richiesta di notifica rifiutata per fallimento di validazione
              * `SEND_COURTESY_MESSAGE` - Invio di un messaggio di cortesia
              * `GET_ADDRESS` - Informazioni sulla disponibilità dello specifico indirizzo
              * `PUBLIC_REGISTRY_CALL` - Effettuata la richiesta ai registri pubblici per ottenere l'indirizzo generale
              * `PUBLIC_REGISTRY_RESPONSE` - Ricevuta la risposta dei registri pubblici alla richiesta di ottenimento dell'indirizzo generale
              * `SCHEDULE_ANALOG_WORKFLOW` - Inizio del workflow per invio cartaceo
              * `SCHEDULE_DIGITAL_WORKFLOW` - Inizio del workflow per invio digitale (PEC)
              * `SEND_DIGITAL_DOMICILE` - Invio digitale dell’avviso di notifica
              * `SEND_DIGITAL_FEEDBACK` - Ottenuto esito ad un invio digitale
              * `SCHEDULE_REFINEMENT` - Pianificato il perfezionamento per decorrenza termini
              * `REFINEMENT` - Perfezionamento per decorrenza termini
              * `DIGITAL_SUCCESS_WORKFLOW` - Completato con successo il workflow di invio digitale
              * `DIGITAL_FAILURE_WORKFLOW` - Completato con fallimento il workflow di invio digitale
              * `ANALOG_SUCCESS_WORKFLOW` - Completato con successo il workflow di invio cartaceo
              * `ANALOG_FAILURE_WORKFLOW` - Completato con fallimento il workflow di invio cartaceo
              * `SEND_SIMPLE_REGISTERED_LETTER` - Invio di raccomandata semplice
              * `NOTIFICATION_VIEWED` - Perfezionamento per presa visione
              * `SEND_ANALOG_DOMICILE` - Invio cartaceo dell’avviso di notifica
              * `SEND_PAPER_FEEDBACK` - Ricezione esito dell'invio cartaceo
              * `COMPLETELY_UNREACHABLE` - Tutti i destinatari risultano irraggiungibili
              * `AAR_GENERATION` - Generazione dell’AAR (Avviso di Avvenuta Ricezione)
              * `PAYMENT` - Ricezione pagamento della notifica
              * `NOT_HANDLED` - Per la sperimentazione l'invio analogico non è previsto, viene inserito tale elemento di timeline
          enum:
            - REQUEST_ACCEPTED
            - SEND_COURTESY_MESSAGE
            - GET_ADDRESS
            - PUBLIC_REGISTRY_CALL
            - PUBLIC_REGISTRY_RESPONSE
            - SCHEDULE_ANALOG_WORKFLOW
            - SCHEDULE_DIGITAL_WORKFLOW
            - SEND_DIGITAL_DOMICILE
            - SEND_DIGITAL_PROGRESS
            - SEND_DIGITAL_FEEDBACK
            - REFINEMENT
            - SCHEDULE_REFINEMENT
            - DIGITAL_SUCCESS_WORKFLOW
            - DIGITAL_FAILURE_WORKFLOW
            - ANALOG_SUCCESS_WORKFLOW
            - ANALOG_FAILURE_WORKFLOW
            - SEND_SIMPLE_REGISTERED_LETTER
            - NOTIFICATION_VIEWED
            - SEND_ANALOG_DOMICILE
            - SEND_PAPER_FEEDBACK
            - PAYMENT
            - COMPLETELY_UNREACHABLE
            - REQUEST_REFUSED
            - AAR_GENERATION
            - NOT_HANDLED
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
security:
  - ApiKeyAuth: []
