# di seguito le variabili che possono subire variazioni in caso di modifiche all'applicazione, da ricercare in base all'ID
# <span id="webhookMaxLength">50</span> pn.delivery-push.webhook.max-length = lunghezza massima della response degli eventi
# <span id="webhookMaxStreams">5</span> pn.delivery-push.webhook.max-streams = numero massimo di stream confgurabili per PA
# <span id="webhookTtl">7</span> pn.delivery-push.webhook.ttl = retention per gli eventi webhook PN-2264
openapi: 3.0.3
info:
  termsOfService: https://notifichedigitali.pagopa.it/pubbliche-amministrazioni/index.html
  title: 'Piattaforma Notifiche: API B2B avanzamento notifiche'
  x-summary: 'API B2B avanzamento notifiche'
  version: '1.0.0'
  x-api-id: api-external-b2b-webhook # ONLY EXTERNAL
  contact:
    email: pn-supporto-enti@pagopa.it
  license:
    name: Licenza di PN
    url: 'https://notifichedigitali.pagopa.it/pubbliche-amministrazioni/index.html'
servers:
- url: https://api.notifichedigitali.it
  description: Ambiente di produzione
- url: https://api.uat.notifichedigitali.it
  description: Ambiente di collaudo
tags:
  - name: HealthCheck
    description: >-
      Invocazioni per sapere lo stato del micro-servizio # il servizio è ancora in fase di sviluppo
  - name: Streams
    description: >-
      Gestione degli stream di eventi che PN mette a disposizione
  - name: Events
    description: Metodi per la lettura degli eventi dagli stream
paths:
  '/status':
    get:
      summary: healthCheck path
      description: healtCheck path per verificare lo stato del microservizio
      tags:
        - HealthCheck
      operationId: status
      responses:
        '200':
          description: Ok
        '500':
          description: Internal Server Error
    ############################################################################################
    ###                        CREAZIONE E CANCELLAZIONE STREAM EVENTI                       ###
    ############################################################################################

  '/delivery-progresses/streams':
    post:
      deprecated: true
      summary: Crea nuovo stream di eventi
      description: >-
        Viene richiesta la creazione di un flusso di eventi specificando se gli eventi saranno
        relativi ai cambi di stato o agli eventi di timeline. <br/>
        In risposta, Piattaforma Notifiche, comunicherà un identificativo dello stream e il
        timestamp di effettiva attivazione del flusso, tipicamente pochi secondi dopo che è stata
        invocata l'operazione.
      tags:
        - Streams
      operationId: createEventStream
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      requestBody:
        required: true
        content:
          application/json:
              schema:
                $ref: "#/components/schemas/StreamCreationRequest"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamMetadataResponse"
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
    get:
      deprecated: true
      summary: Elenca stream di eventi
      description: >-
        Elenca gli stream di eventi
      tags:
        - Streams
      operationId: listEventStreams
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamListResponse"
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  '/delivery-progresses/streams/{streamId}':
    parameters:
      - $ref: '#/components/parameters/pathStreamId'
    get:
      deprecated: true
      summary: Leggi metadati dello stream
      description: >-
        Permette di leggere le configurazioni di uno stream di eventi.
      tags:
        - Streams
      operationId: retrieveEventStream                       # ONLY EXTERNAL
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamMetadataResponse"
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
    put:
      deprecated: true
      summary: Update Stream metadata
      description: >-
        Permette di cambiare le configurazioni dei filtri associati a uno stream di eventi
      tags:
        - Streams
      operationId: updateEventStream
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      requestBody:
        required: true
        content:
          application/json:
              schema:
                $ref: "#/components/schemas/StreamCreationRequest"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamMetadataResponse"
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
    delete:
      deprecated: true
      summary: Remove Event Stream
      description: >-
        Elimina uno steam di eventi: elimina sia le configurazioni sia tutti gli eventi
        associati allo stream e non ancora consumati.
      tags:
        - Streams
      operationId: removeEventStream                         # ONLY EXTERNAL
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      responses:
        '204':
          description: OK
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: './remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'


    ############################################################################################
    ###                             LETTURA EVENTI DA UNO STREAM                             ###
    ############################################################################################

  '/delivery-progresses/streams/{streamId}/events':
    get:
      deprecated: true
      summary: Leggi progressi notifiche
      description: >-
        Permette di leggere gli eventi presenti nello stream di aggiornamenti e indica che
        la P.A. ha ricevuto e memorizzato l'evento identificato dal parametro _lastEventId_
        e tutti gli eventi precedenti. Tali eventi potranno essere cancellati dallo stream.
      tags:
        - Events
      operationId: consumeEventStream
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      parameters:
        - $ref: '#/components/parameters/pathStreamId'
        - $ref: '#/components/parameters/queryLastEventId'
      responses:
        '200':
          description: OK
          headers:
            retry-after:
              schema:
                type: integer
                format: int32
              description: >-
                Numero di millisecondi di attesa prima di effettuare una nuova lettura di eventi. <br/>
                Sarà valorizzato a zero se ci sono eventi in coda che non sono stati forniti per
                raggiunta dimensione massima della risposta. <br/>
                Sarà maggiore di zero se gli eventi in coda sono stati tutti inviati.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProgressResponse"
        '429':
          description: Too Many Requests
          headers:
            retry-after:
              schema:
                type: integer
                format: int32
              description: >-
                Numero di millisecondi di attesa prima di effettuare una nuova lettura di eventi.
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'


    ############################################################################################
    ###                INVIO DI EVENTI DA PARTE DELLA PUBBLICA AMMNISTRAZIONE                ###
    ############################################################################################




components:

  parameters:
    ############################################################################################
    ###                     PARAMETRI DI AUTENTICAZIONE E AUTORIZZAZIONE                     ###
    ############################################################################################


    ############################################################################################
    ###                                   PARAMETRI STREAMS                                  ###
    ############################################################################################
    queryLastEventId:
      description: >-
        Identificativo dell'ultimo evento memorizzato dal chiamante, se non passato si intende dal primo evento presente nello stream.
        Numero in una stringa di 38 caratteri con padding iniziale composto da '0'.
      name: lastEventId
      in: query
      required: false
      schema:
        type: string
        minLength: 38
        maxLength: 38
        pattern: ^0\d{37}$
    pathStreamId:
      description: >-
        Identificativo dello stream di eventi
      name: streamId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        #minLength: 36
        #maxLength: 36

  schemas:

    ############################################################################################
    ###                          CREAZIONE E GESTIONE EVENT STREAM                           ###
    ############################################################################################
    StreamCreationRequest:
      description: Richiesta di creazione di uno stream di eventi di avanzamento delle notifiche.
      type: object
      required:
        - title
        - eventType
      properties:
        title:
          description: Nome sintetico dello stream
          type: string
          maxLength: 256
          pattern: ^.*$
        eventType:
          description: >-
            Tipo di eventi presenti nel flusso:
              - _STATUS_: cambiamenti di stato delle notifiche
              - _TIMELINE_: eventi a granularità fine
          type: string
          enum:
            - STATUS
            - TIMELINE
        filterValues:
          description: >-
            rappresenta l'elenco degli stati o elementi di timeline che si vogliono filtrare; inserendo un array vuoto [] si riceveranno solo gli elementi relativi a v1
          type: array
          items:
            type: string
            minLength: 4
            maxLength: 256
            pattern: ^[A-Z_]+$

    StreamMetadataResponse:
      description: Configurazioni di un flusso di eventi
      allOf:
        - $ref: '#/components/schemas/StreamCreationRequest'
        - type: object
          required:
            - streamId
            - activationDate
          properties:
            streamId:
              description: Identificativo del flusso di eventi
              type: string
              format: uuid
              #minLength: 36
              #maxLength: 36
            activationDate:
              description: Timestamp in cui il flusso di eventi è stato attivato
              type: string
              format: date-time

    StreamListResponse:
      description: Elenco di flussi di eventi
      type: array
      items:
        $ref: '#/components/schemas/StreamListElement'

    StreamListElement:
      type: object
      required:
        - title
        - streamId
      properties:
        streamId:
          type: string
          format: uuid
          #minLength: 36
          #maxLength: 36
        title:
          type: string
          maxLength: 256
          pattern: ^.*$



    ############################################################################################
    ###                                  DEFINIZIONI EVENTI                                  ###
    ############################################################################################

    ###  - EVENTI GENERATI DA PN
    ###################################

    ProgressResponse:
      type: array
      items:
        $ref: '#/components/schemas/ProgressResponseElement'

    ProgressResponseElement:
      type: object
      required:
        - eventId
        - timestamp
      properties:
        eventId:
          description: >-
            Elemento che garantisce univocità e ordinamento temporale all'interno dello stream
          type: string
        timestamp:
          description: Istante a cui è avvenuto l'evento
          type: string
          format: date-time

        notificationRequestId:
          description: Identificativo della richiesta di notifica
          type: string
        iun:
          description: >-
            Identificativo della notifica, presente solo se la richiesta di notifica è
            stata accettata.
          type: string
          maxLength: 25
          pattern: ^[A-Z]{4}-[A-Z]{4}-[A-Z]{4}-[0-9]{6}-[A-Z]{1}-[0-9]{1}$

        newStatus:
          $ref: './schemas-pn-status.yaml#/components/schemas/NotificationStatus'
        timelineEventCategory:
#          apparentemente non retrocompatibile ma gli stream continueranno a mandare category della versione 1 fino ad esplicita modifica delle config da parte della PA
          $ref: './schemas-pn-timeline.yaml#/components/schemas/TimelineElementCategoryV23'
        recipientIndex:
          type: integer
          format: int32
          minimum: 0
          description: Indice del destinatario al quale si riferisce l'evento
        analogCost:
          type: integer
          format: int32
          description: Eventuale costo in eurocent associato all'evento
        channel:
          type: string
          description: >-
            Canale a cui si riferisce l'evento. I valori previsti sono:
            - Per eventi legati a messaggi di cortesia: APPIO, SMS, EMAIL
            - Per eventi legati all'invio digitale: PEC
            - Per eventi legati all'invio analogico: AR_REGISTERED_LETTER, REGISTERED_LETTER_890
            - Per eventi legati all'invio di raccomandate semplici: SIMPLE_REGISTERED_LETTER

        legalfactIds:
          type: array
          items:
            type: string
          example: ["PN_LEGAL_FACTS-0002-9G2S-RK3M-JI62-JK9Q", "PN_LEGAL_FACTS-0002-9G2S-RK3M-JI62-JK9E"]
          description: chiavi degli eventuali allegati associati all'evento

        validationErrors:
          type: array
          description: eventuali errori di validazione associati all'evento
          items:
            $ref: '#/components/schemas/RefusedReason'

    RefusedReason:
      type: object
      properties:
        errorCode:
          type: string
        detail:
          type: string

    ###  - EVENTI GENERATI DALLA P.A.
    ###################################



  securitySchemes:        # ONLY EXTERNAL
    ApiKeyAuth:           # ONLY EXTERNAL
      type: apiKey        # ONLY EXTERNAL
      in: header          # ONLY EXTERNAL
      name: x-api-key     # ONLY EXTERNAL

security:                 # ONLY EXTERNAL
  - ApiKeyAuth: [] # use the same name as under securitySchemes    # ONLY EXTERNAL
