openapi: 3.0.3
info:
  termsOfService: https://termofservice.it
  title: OpenAPI servizi ad uso solo interno
  x-summary: OpenAPI servizi ad uso solo interno
  x-api-id: api-private
  description: >- 
    API accessibili solo da microservizi interni
  version: '1.0.0'
  contact:
    email: pn@pagopa.it
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
servers:
- url: http://internal-pn-in-appli-em20o634urpg-965454854.eu-central-1.elb.amazonaws.com:8080 #TODO Valorizzare correttamente url api private\
  description: Generated server url
  x-sandbox: true
tags:
  - name: HealthCheck
    description: >-
      Invocazioni per sapere lo stato del microservizio
  - name: TimelineAndStatus
    description: >-
      Invocazioni per aggiornare lo stato della notifica
paths:
  '/status':
    get:
      summary: healthCheck path
      description: healtCheck path per verificare lo stato del microservizio
      tags:
        - HealthCheck
      operationId: status
      responses:
        '200':
          description: Ok
        '500':
          description: Internal Server Error
  '/delivery-push-private/{iun}/history':
    get:
      summary: Storico eventi notifica
      description: >-
        Legge e restituisce la timeline di una notifica, il suo stato e la storia dei 
        suoi cambiamenti di stato.
        <br/>
        L'unico valore ammesso per il parametro _x-pagopa-pn-cx-type_ è `PA`
      tags:
        - TimelineAndStatus
      operationId: getNotificationHistory
      parameters:
        - $ref: '#/components/parameters/pathIun'
        - $ref: '#/components/parameters/pathNumberOfRecipients'
        - $ref: '#/components/parameters/pathCreatedAt'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationHistoryResponse"
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'schemas-pn-errors-v1.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'schemas-pn-errors-v1.yaml#/components/schemas/Problem'


components:
  parameters:

    ############################################################################################
    ###                        PARAMETRI RICERCA NOTIFICA ACCETTATA                         ###
    ############################################################################################
    pathIun:
      description: >-
        Identificativo Univoco Notifica
      name: iun
      in: path
      required: true
      schema:
        type: string
        
    pathNumberOfRecipients:
      description: >-
        Numero recipient notifica
      name: numberOfRecipients
      in: query
      required: true
      schema:
        type: integer
        format: int32

    pathCreatedAt:
      description: >-
        Data creazione notifica
      name: createdAt
      in: query
      required: true
      schema:
        type: string
        format: date-time
  schemas:

    ############################################################################################
    ###                        INFORMAZIONI STORICHE DI UNA NOTIFICA                         ###
    ############################################################################################

    NotificationHistoryResponse:
      type: object
      properties:
        notificationStatus:
          $ref: './schemas-pn-status-v1.yaml#/components/schemas/NotificationStatus'
        notificationStatusHistory:
          $ref: './schemas-pn-status-v1.yaml#/components/schemas/NotificationStatusHistory'
        timeline:
          description: >-
            elenco dettagliato di tutto ciò che è accaduto durante il processo di notifica
          type: array
          items:
            $ref: './schemas-pn-timeline-v1.yaml#/components/schemas/TimelineElement'



