openapi: 3.0.3
info:
  termsOfService: https://termofservice.it
  title: 'API di pn-delivery-push esposte ad altri microservizi'
  x-summary: 'API di pn-delivery-push esposte ad altri microservizi'
  x-api-id: api-internal-pn-delivery-push
  version: '1.0.0'
  description: >- 
    Da fare

  contact:
    email: pn@pagopa.it
  license:
    name: Licenza di PN
    url: 'https://da-definire/'
servers:
- url: https://api.pn.pagopa.it
  description: Ambiente di produzione
- url: https://api.uat.pn.pagopa.it
  description: Ambiente di test
- url: https://api.dev.pn.pagopa.it
  description: Ambiente di sviluppo
tags:
  - name: HealthCheck
    description: >-
      Invocazioni per sapere lo stato del microservizio
  - name: LegalFacts
    description: >-
      Recupero degli atti opponibili a terzi generati per una notifica
  - name: NotificationCancellation
    description: >-
      Annullamento di una notifica

paths:
  '/status':
    get:
      summary: healthCheck path
      description: healtCheck path per verificare lo stato del microservizio
      tags:
        - HealthCheck
      operationId: status
      responses:
        '200':
          description: Ok
        '500':
          description: Internal Server Error
          
  '/delivery-push/v2.0/notifications/cancel/{iun}':
    put:
      summary: Annullamento notifica
      description: >-
        Permette l'annullamento di una notifica restituendo una presa in carico, il processo di annullamento si completa poi in maniera asincrona
      tags:
        - NotificationCancellation
      operationId: notificationCancellation
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/pathIun'
      responses:
        '202':
          description: Accepted - Richiesta annullamento presa in carico
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestStatus"
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
                                
  '/delivery-push/{iun}/legal-facts':
    get:
      summary: Elenco atti opponibili a terzi
      description: >-
        Elenca le informazione di categorizzazione di tutti gli atti opponibili a terzi 
        registrati durante il processo di notifica.
        <br/>
        L'unico valore ammesso per il parametro _x-pagopa-pn-cx-type_ è `PA`
      tags:
        - LegalFacts
      operationId: getNotificationLegalFacts                                      # NO EXTERNAL
#      operationId: retrieveNotificationLegalFacts                                # ONLY EXTERNAL
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/pathIun'
        - $ref: '#/components/parameters/legalFactsSearchMandateId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "./schemas-pn-legal-facts.yaml#/components/schemas/LegalFactList"
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  '/delivery-push/{iun}/legal-facts/{legalFactType}/{legalFactId}':
    get:
      summary: Singolo atto opponibile a terzi
      description: >-
        Permette di scaricare un atto opponibile a terzi
        <br/>
        L'unico valore ammesso per il parametro _x-pagopa-pn-cx-type_ è `PA`
      tags:
        - LegalFacts
      operationId: getLegalFact                                      # NO EXTERNAL
#      operationId: retrieveLegalFact                                # ONLY EXTERNAL
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/pathIun'
        - $ref: '#/components/parameters/pathLegalFactType'
        - $ref: '#/components/parameters/pathLegalFactId'
        - $ref: '#/components/parameters/legalFactsSearchMandateId'
      responses:
        '200':
          description: OK
          content:  
            application/json:
              schema:
                $ref: "./schemas-pn-legal-facts.yaml#/components/schemas/LegalFactDownloadMetadataResponse"
        '400':
          description: Invalid input                                               
          content: 
            application/problem+json: 
              schema: 
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500': 
          description: Internal Server Error                                        
          content: 
            application/problem+json: 
              schema: 
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
  '/delivery-push/{iun}/download/legal-facts/{legalFactId}':
    get:
      summary: Singolo atto opponibile a terzi
      description: >-
        Permette di scaricare un atto opponibile a terzi
        <br/>
        L'unico valore ammesso per il parametro _x-pagopa-pn-cx-type_ è `PA`
      tags:
        - LegalFacts
      operationId: getLegalFactById                                      # NO EXTERNAL
#      operationId: downloadLegalFactById                                # ONLY EXTERNAL
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/pathIun'
        - $ref: '#/components/parameters/pathLegalFactId'
        - $ref: '#/components/parameters/legalFactsSearchMandateId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "./schemas-pn-legal-facts.yaml#/components/schemas/LegalFactDownloadMetadataResponse"
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  '/delivery-push/{iun}/document/{documentType}':
    get:
      summary: Restituisce il singolo documento identificato dalla documentKey
      description: >-
        Permette di scaricare un documento correlato alla notificazione
      tags:
        - DocumentsWeb
      operationId: getDocumentsWeb
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/pathIun'
        - $ref: '#/components/parameters/legalFactsSearchMandateId'
        - $ref: 'api-private.yaml#/components/parameters/pathDocumentType'
        - $ref: 'api-private.yaml#/components/parameters/queryDocumentId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "api-private.yaml#/components/schemas/DocumentDownloadMetadataResponse"
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'



components:
  parameters:
    ############################################################################################
    ###                     PARAMETRI DI AUTENTICAZIONE E AUTORIZZAZIONE                     ###
    ############################################################################################
    cxTypeAuthFleet: # NO EXTERNAL
      $ref: 'https://raw.githubusercontent.com/pagopa/pn-auth-fleet/a1f457ddc112983ec79be0be93256476dd11102c/docs/openapi/authenticationParameters-v1.yaml#/components/parameters/cxTypeAuthFleet' # NO EXTERNAL
    cxIdAuthFleet: # NO EXTERNAL
      $ref: 'https://raw.githubusercontent.com/pagopa/pn-auth-fleet/a1f457ddc112983ec79be0be93256476dd11102c/docs/openapi/authenticationParameters-v1.yaml#/components/parameters/cxIdAuthFleet' # NO EXTERNAL
    cxGroupsAuthFleet: # NO EXTERNAL
      $ref: 'https://raw.githubusercontent.com/pagopa/pn-auth-fleet/a1f457ddc112983ec79be0be93256476dd11102c/docs/openapi/authenticationParameters-v1.yaml#/components/parameters/cxGroupsAuthFleet' # NO EXTERNAL
    uidAuthFleet: # NO EXTERNAL
      $ref: 'https://raw.githubusercontent.com/pagopa/pn-auth-fleet/a1f457ddc112983ec79be0be93256476dd11102c/docs/openapi/authenticationParameters-v1.yaml#/components/parameters/uidAuthFleet' # NO EXTERNAL




    ############################################################################################
    ###                        PARAMETRI RICERCA LEGAL FACTS                                 ###
    ############################################################################################
    legalFactsSearchMandateId:
      name: mandateId
      in: query
      required: false
      description: identificativo della delega, non utilizzato nelle API B2B
      schema:
        type: string
        format: uuid
        #minLength: 36
        #maxLength: 36

    ############################################################################################
    ###                        PARAMETRI RICERCA NOTIFICA ACCETTATA                         ###
    ############################################################################################
    pathIun:
      description: >-
        Identificativo Univoco Notifica
      name: iun
      in: path
      required: true
      schema:
        type: string
        minLength: 25
        maxLength: 25
        pattern: ^[A-Z]{4}-[A-Z]{4}-[A-Z]{4}-[0-9]{6}-[A-Z]{1}-[0-9]{1}$
        
    ############################################################################################
    ###                      PARAMETRI RICERCA ATTI OPPONIBILI A TERZI                       ###
    ############################################################################################
    pathLegalFactType:
      description: >-
        Categoria dell'atto opponibile a terzi
      name: legalFactType
      in: path
      required: true
      schema:
        $ref: './schemas-pn-legal-facts.yaml#/components/schemas/LegalFactCategory'
    
    pathLegalFactId:
      description: >-
        Identificativo dell'atto opponibile a terzi
      name: legalFactId
      in: path
      required: true
      schema:
        type: string
        # ASCII printable characters
        pattern: ^[ -~]*$
        maxLength: 1024
        
  schemas:
    RequestStatus:
      description: Response to cancellation async call
      type: object 
      properties:
        status:
          description: >
            Cancellation request status:
              - OK
          type: string
        details:
          type: array
          maxItems: 9999
          items:
            $ref: '#/components/schemas/StatusDetail'
      required:
        - status
    
    StatusDetail:
      description: Detail of response to cancellation async call
      type: object 
      required:
        - code
      properties:
        code:
          description: Internal code of the error or warning, in human-readable format
          example: NOTIFICATION_CANCELLATION_ACCEPTED, NOTIFICATION_ALREADY_CANCELLED
          type: string
        level:
          description: |
            informational level of status detail: INFO,WARN, ERR
            ERR (error) by default
          example: INFO
          type: string
        detail:
          description: A human readable explanation specific to this occurrence of the problem.
          example: Parameter not valid
          type: string
      
