openapi: 3.0.3
info:
  termsOfService: https://termofservice.it
  title: 'API di pn-delivery-push esposte ad altri microservizi'
  x-summary: 'API di pn-delivery-push esposte ad altri microservizi'
  x-api-id: api-internal-pn-delivery-push
  version: '1.0.0'
  description: >- 
    Da fare

  contact:
    email: pn@pagopa.it
servers:
- url: https://api.pn.pagopa.it
  description: Ambiente di produzione
- url: https://api.uat.pn.pagopa.it
  description: Ambiente di test
- url: https://api.dev.pn.pagopa.it
  description: Ambiente di sviluppo
tags:
  - name: LegalFacts
    description: >-
      Recupero degli atti opponibili a terzi generati per una notifica

paths:
  '/status':
    get:
      summary: healthCheck path
      description: healtCheck path per verificare lo stato del microservizio
      tags:
        - HealthCheck
      operationId: status
      responses:
        '200':
          description: Ok
        '500':
          description: Internal Server Error
          
  '/delivery-push/{iun}/legal-facts':
    get:
      deprecated: true
      summary: Elenco atti opponibili a terzi
      description: >-
        Elenca le informazione di categorizzazione di tutti gli atti opponibili a terzi 
        registrati durante il processo di notifica.
        <br/>
      tags:
        - LegalFacts
      operationId: retrieveNotificationLegalFacts                                # ONLY EXTERNAL
      x-pagopa-lambda-name: 'pn-versioningGetNotificationLegalFactsLambda:live'
      x-pagopa-lambda-account: core
      parameters:
        - $ref: '#/components/parameters/pathIun'
        - $ref: '#/components/parameters/legalFactsSearchMandateId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "./schemas-pn-legal-facts-older-version.yaml#/components/schemas/LegalFactList"
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

components:
  parameters:
    ############################################################################################
    ###                     PARAMETRI DI AUTENTICAZIONE E AUTORIZZAZIONE                     ###
    ############################################################################################




    ############################################################################################
    ###                        PARAMETRI RICERCA LEGAL FACTS                                 ###
    ############################################################################################
    legalFactsSearchMandateId:
      name: mandateId
      in: query
      required: false
      description: identificativo della delega, non utilizzato nelle API B2B
      x-pn-intended-usage: ["WEB"]
      schema:
        type: string
        format: uuid
        #minLength: 36
        #maxLength: 36

    ############################################################################################
    ###                        PARAMETRI RICERCA NOTIFICA ACCETTATA                         ###
    ############################################################################################
    pathIun:
      description: >-
        Identificativo Univoco Notifica
      name: iun
      in: path
      required: true
      schema:
        type: string
        minLength: 25
        maxLength: 25
        pattern: ^[A-Z]{4}-[A-Z]{4}-[A-Z]{4}-[0-9]{6}-[A-Z]{1}-[0-9]{1}$
