# di seguito le variabili che possono subire variazioni in caso di modifiche all'applicazione, da ricercare in base all'ID
# <span id="webhookMaxLength">50</span> pn.delivery-push.webhook.max-length = lunghezza massima della response degli eventi
# <span id="webhookMaxStreams">5</span> pn.delivery-push.webhook.max-streams = numero massimo di stream confgurabili per PA
# <span id="webhookTtl">7</span> pn.delivery-push.webhook.ttl = retention per gli eventi webhook PN-2264
openapi: 3.0.3
info:
  termsOfService: https://notifichedigitali.pagopa.it/pubbliche-amministrazioni/index.html
  title: 'Piattaforma Notifiche: API B2B avanzamento notifiche'
  x-summary: 'API B2B avanzamento notifiche'
  version: '1.0.0'
  x-api-id: api-internal-b2b-webhook # NO EXTERNAL
#  x-api-id: api-external-b2b-webhook # ONLY EXTERNAL
  contact:
    email: pn-supporto-enti@pagopa.it
  license:
    name: Licenza di PN
    url: 'https://notifichedigitali.pagopa.it/pubbliche-amministrazioni/index.html'
servers:
- url: https://api.notifichedigitali.it
  description: Ambiente di produzione
- url: https://api.uat.notifichedigitali.it
  description: Ambiente di collaudo
tags:
  - name: HealthCheck
    description: >-
      Invocazioni per sapere lo stato del micro-servizio # il servizio è ancora in fase di sviluppo
  - name: Streams
    description: >-
      Gestione degli stream di eventi che PN mette a disposizione
  - name: Events
    description: Metodi per la lettura degli eventi dagli stream
paths:
  ############################################################################################
  ###                        API VERSIONE 1.0                                              ###
  ############################################################################################

  '/status':
    get:
      summary: healthCheck path
      description: healtCheck path per verificare lo stato del microservizio
      tags:
        - HealthCheck
      operationId: status
      responses:
        '200':
          description: Ok
        '500':
          description: Internal Server Error
    ############################################################################################
    ###                        CREAZIONE E CANCELLAZIONE STREAM EVENTI                       ###
    ############################################################################################

  '/delivery-progresses/streams':
    parameters:                                               # NO EXTERNAL
      - $ref: '#/components/parameters/uidAuthFleet'          # NO EXTERNAL
      - $ref: '#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
      - $ref: '#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
    post:
      deprecated: true
      summary: Crea nuovo stream di eventi
      description: >-
        Viene richiesta la creazione di un flusso di eventi specificando se gli eventi saranno
        relativi ai cambi di stato o agli eventi di timeline. <br/>
        In risposta, Piattaforma Notifiche, comunicherà un identificativo dello stream e il
        timestamp di effettiva attivazione del flusso, tipicamente pochi secondi dopo che è stata
        invocata l'operazione.
      tags:
        - Streams
      operationId: createEventStream
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      requestBody:
        required: true
        content:
          application/json:
              schema:
                $ref: "#/components/schemas/StreamCreationRequest"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamMetadataResponse"
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
    get:
      deprecated: true
      summary: Elenca stream di eventi
      description: >-
        Elenca gli stream di eventi
      tags:
        - Streams
      operationId: listEventStreams
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamListResponse"
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  '/delivery-progresses/streams/{streamId}':
    parameters:
      - $ref: '#/components/parameters/uidAuthFleet'          # NO EXTERNAL
      - $ref: '#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
      - $ref: '#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
      - $ref: '#/components/parameters/pathStreamId'
    get:
      deprecated: true
      summary: Leggi metadati dello stream
      description: >-
        Permette di leggere le configurazioni di uno stream di eventi.
      tags:
        - Streams
      operationId: getEventStream                             # NO EXTERNAL
#      operationId: retrieveEventStream                       # ONLY EXTERNAL
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamMetadataResponse"
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
    put:
      deprecated: true
      summary: Update Stream metadata
      description: >-
        Permette di cambiare le configurazioni dei filtri associati a uno stream di eventi
      tags:
        - Streams
      operationId: updateEventStream
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      requestBody:
        required: true
        content:
          application/json:
              schema:
                $ref: "#/components/schemas/StreamCreationRequest"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamMetadataResponse"
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
    delete:
      deprecated: true
      summary: Remove Event Stream
      description: >-
        Elimina uno steam di eventi: elimina sia le configurazioni sia tutti gli eventi
        associati allo stream e non ancora consumati.
      tags:
        - Streams
      operationId: deleteEventStream                          # NO EXTERNAL
#      operationId: removeEventStream                         # ONLY EXTERNAL
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      responses:
        '204':
          description: OK
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: './remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'


    ############################################################################################
    ###                             LETTURA EVENTI DA UNO STREAM                             ###
    ############################################################################################

  '/delivery-progresses/streams/{streamId}/events':
    get:
      deprecated: true
      summary: Leggi progressi notifiche
      description: >-
        Permette di leggere gli eventi presenti nello stream di aggiornamenti e indica che
        la P.A. ha ricevuto e memorizzato l'evento identificato dal parametro _lastEventId_
        e tutti gli eventi precedenti. Tali eventi potranno essere cancellati dallo stream.
      tags:
        - Events
      operationId: consumeEventStream
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet'          # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
        - $ref: '#/components/parameters/pathStreamId'
        - $ref: '#/components/parameters/queryLastEventId'
      responses:
        '200':
          description: OK
          headers:
            retry-after:
              schema:
                type: integer
                format: int32
              description: >-
                Numero di millisecondi di attesa prima di effettuare una nuova lettura di eventi. <br/>
                Sarà valorizzato a zero se ci sono eventi in coda che non sono stati forniti per
                raggiunta dimensione massima della risposta. <br/>
                Sarà maggiore di zero se gli eventi in coda sono stati tutti inviati.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProgressResponse"
        '429':
          description: Too Many Requests
          headers:
            retry-after:
              schema:
                type: integer
                format: int32
              description: >-
                Numero di millisecondi di attesa prima di effettuare una nuova lettura di eventi.
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
                
    ############################################################################################
    ###                INVIO DI EVENTI DA PARTE DELLA PUBBLICA AMMNISTRAZIONE                ###
    ############################################################################################

  '/delivery-progresses/events':                                                              # NOT YET IMPLEMENTED
    post:                                                                                     # NOT YET IMPLEMENTED
      summary: Invio eventi da parte della PA                                                 # NOT YET IMPLEMENTED
      description: >-                                                                         # NOT YET IMPLEMENTED
        Questa API è a disposizione della Pubblica Amministrazione per inviare eventi, come   # NOT YET IMPLEMENTED
        quello di chiusura di una posizione debitoria con pagamento tramite F24, che possono  # NOT YET IMPLEMENTED
        avvenire fuori dal controllo di PagoPA. <br/>                                         # NOT YET IMPLEMENTED

        L'elaborazione può avvenire in maniera parziale, quindi ogni evento deve avere un     # NOT YET IMPLEMENTED
        identificativo univoco (generato dalla PA). In caso di fallimento vanno ritrasmessi   # NOT YET IMPLEMENTED
        gli eventi con lo stesso identificativo. Sarà Piattaforma Notifica ad identificare    # NOT YET IMPLEMENTED
        quelli già elaborati ed evitare duplicazioni. <br/>                                   # NOT YET IMPLEMENTED

        Allo stato attuale gli unici eventi sono quelli di pagamento                          # NOT YET IMPLEMENTED
      tags:                                                                                   # NOT YET IMPLEMENTED
        - Events                                                                              # NOT YET IMPLEMENTED
      operationId: informOnExternalEvent                                                      # NOT YET IMPLEMENTED
      parameters:                                                                             # NOT YET IMPLEMENTED
        - $ref: '#/components/parameters/uidAuthFleet'          # NO EXTERNAL                 # NOT YET IMPLEMENTED
        - $ref: '#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL                 # NOT YET IMPLEMENTED
        - $ref: '#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL                 # NOT YET IMPLEMENTED
      requestBody:                                                                            # NOT YET IMPLEMENTED
        required: true                                                                        # NOT YET IMPLEMENTED
        content:                                                                              # NOT YET IMPLEMENTED
          application/json:                                                                   # NOT YET IMPLEMENTED
            schema:                                                                         # NOT YET IMPLEMENTED
              $ref: "#/components/schemas/ExternalEventsRequest"                            # NOT YET IMPLEMENTED
      responses:                                                                              # NOT YET IMPLEMENTED
        '204':                                                                                # NOT YET IMPLEMENTED
          description: OK                                                                     # NOT YET IMPLEMENTED
        '400':                                                                                # NOT YET IMPLEMENTED
          description: Invalid input                                                          # NOT YET IMPLEMENTED
          content:                                                                            # NOT YET IMPLEMENTED
            application/problem+json:                                                         # NOT YET IMPLEMENTED
              schema:                                                                         # NOT YET IMPLEMENTED
                $ref: 'remote-refs.yaml#/components/schemas/Problem'                 # NOT YET IMPLEMENTED
        '500':                                                                                # NOT YET IMPLEMENTED
          description: Internal Server Error                                                  # NOT YET IMPLEMENTED
          content:                                                                            # NOT YET IMPLEMENTED
            application/problem+json:                                                         # NOT YET IMPLEMENTED
              schema:                                                                         # NOT YET IMPLEMENTED
                $ref: 'remote-refs.yaml#/components/schemas/Problem'                 # NOT YET IMPLEMENTED
  
  ############################################################################################
  ###                        API VERSIONE 2.3                                              ###
  ############################################################################################
  
    ############################################################################################
    ###                        CREAZIONE E CANCELLAZIONE STREAM EVENTI                       ###
    ############################################################################################
  '/delivery-progresses/v2.3/streams':
    parameters: # NO EXTERNAL
      - $ref: '#/components/parameters/uidAuthFleet'          # NO EXTERNAL
      - $ref: '#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
      - $ref: '#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
      - $ref: '#/components/parameters/cxGroupsAuthFleet'         # NO EXTERNAL
      - $ref: '#/components/parameters/headerApiVersion'         # NO EXTERNAL
    post:
      deprecated: true
      summary: Crea nuovo stream di eventi
      description: >-
        Creazione di un flusso di eventi specificando se gli eventi saranno
        relativi ai cambi di stato o agli eventi di timeline.


        In risposta, Piattaforma Notifiche, comunicherà un identificativo dello stream e il 
        timestamp di effettiva attivazione del flusso, tipicamente pochi secondi dopo che è stata 
        invocata l'operazione.
      tags:
        - Streams
      operationId: createEventStreamV23
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StreamCreationRequestV23"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamMetadataResponseV23"
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: ReplacedId Stream not found
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
    get:
      deprecated: true
      summary: Elenca stream di eventi
      description: >-
        Elenca gli stream di eventi
      tags:
        - Streams
      operationId: listEventStreamsV23
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamListResponse"
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
      
      ############################################################################################
      ###                        lEGGI METADATA DELLO STREAM                                   ###
      ############################################################################################
  '/delivery-progresses/v2.3/streams/{streamId}':
    parameters:
      - $ref: '#/components/parameters/uidAuthFleet'          # NO EXTERNAL
      - $ref: '#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
      - $ref: '#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
      - $ref: '#/components/parameters/cxGroupsAuthFleet'         # NO EXTERNAL
      - $ref: '#/components/parameters/headerApiVersion'         # NO EXTERNAL
      - $ref: '#/components/parameters/pathStreamId'
    get:
      deprecated: true
      summary: Leggi metadata dello stream
      description: >-
        Lettura delle configurazioni di uno stream di eventi.
      tags:
        - Streams
      operationId: getEventStreamV23                             # NO EXTERNAL
#      operationId: retrieveEventStreamV23                       # ONLY EXTERNAL
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamMetadataResponseV23"
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Stream not found
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
    put:
      deprecated: true
      summary: Update Stream metadata
      description: >-
        Modifica delle configurazioni dei filtri associati a uno stream di eventi
      tags:
        - Streams
      operationId: updateEventStreamV23
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StreamRequestV23"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamMetadataResponseV23"
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Stream not found
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
    delete:
      deprecated: true
      summary: Remove Event Stream
      description: >-
        Cancellazione dello steam di eventi: elimina sia le configurazioni sia tutti gli eventi
        associati allo stream e non ancora consumati.
      tags:
        - Streams
      operationId: deleteEventStreamV23                          # NO EXTERNAL
#      operationId: removeEventStreamV23                         # ONLY EXTERNAL
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      responses:
        '204':
          description: OK
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: './remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Stream not found
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
  
  ############################################################################################
  ###                             DISABILITARE UNO STREAM                                  ###
  ############################################################################################

  '/delivery-progresses/v2.3/streams/{streamId}/action/disable':
    post:
      deprecated: true
      summary: Disabilita uno stream
      description: >-
        Disabilita uno stream.


        Da uno stream disabilitato è possibile leggere gli eventi presenti nello stream salvati prima
        della disabilitazione, ma non ne saranno aggiunti di nuovi.


        Non è possibile modificare o riabilitare uno stream disabilitato.


        Uno stream disabilitato non rientra nel conteggio degli stream massimi, non può essere riabilitato e verrà
        eliminato automaticamente dopo <span id="webhookTtlDisabled">14</span> giorni.
      tags:
        - Streams
      operationId: disableEventStreamV23
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet'          # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet'         # NO EXTERNAL
        - $ref: '#/components/parameters/headerApiVersion'         # NO EXTERNAL
        - $ref: '#/components/parameters/pathStreamId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamMetadataResponseV23"
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Stream not found
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
  
  ############################################################################################
  ###                             LETTURA EVENTI DA UNO STREAM                             ###
  ############################################################################################

  '/delivery-progresses/v2.3/streams/{streamId}/events':
    get:
      deprecated: true
      summary: Leggi progressi notifiche
      description: >-
        Lettura degli eventi presenti nello stream di aggiornamenti con indicazione che
        il mittente ha ricevuto e memorizzato l'evento identificato dal parametro _lastEventId_
        e tutti gli eventi precedenti. Tali eventi potranno essere cancellati dallo stream.
      tags:
        - Events
      operationId: consumeEventStreamV23
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet'          # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet'         # NO EXTERNAL
        - $ref: '#/components/parameters/headerApiVersion'         # NO EXTERNAL
        - $ref: '#/components/parameters/pathStreamId'
        - $ref: '#/components/parameters/queryLastEventId'
      responses:
        '200':
          description: OK
          headers:
            retry-after:
              schema:
                type: integer
                format: int32
              description: >-
                Numero di millisecondi di attesa prima di effettuare una nuova lettura di eventi.

                Sarà valorizzato a zero se ci sono eventi in coda che non sono stati forniti per 
                raggiunta dimensione massima della risposta.

                Sarà maggiore di zero se gli eventi in coda sono stati tutti inviati.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProgressResponseV23"
        '429':
          description: Too Many Requests
          headers:
            retry-after:
              schema:
                type: integer
                format: int32
              description: >-
                Numero di millisecondi di attesa prima di effettuare una nuova lettura di eventi.
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Not allowed to consume details
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Stream not found
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
                  
  ############################################################################################
  ###                        API VERSIONE 2.4                                              ###
  ############################################################################################

  '/delivery-progresses/v2.4/streams':
    parameters:                                               # NO EXTERNAL
      - $ref: '#/components/parameters/uidAuthFleet'          # NO EXTERNAL
      - $ref: '#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
      - $ref: '#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
      - $ref: '#/components/parameters/cxGroupsAuthFleet'         # NO EXTERNAL
      - $ref: '#/components/parameters/headerApiVersion'         # NO EXTERNAL
    post:
      deprecated: true
      summary: Crea nuovo stream di eventi
      description: >-
        Creazione di un flusso di eventi specificando se gli eventi saranno
        relativi ai cambi di stato o agli eventi di timeline.


        In risposta, Piattaforma Notifiche, comunicherà un identificativo dello stream e il 
        timestamp di effettiva attivazione del flusso, tipicamente pochi secondi dopo che è stata 
        invocata l'operazione.
      tags:
        - Streams
      operationId: createEventStreamV24
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StreamCreationRequestV24"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamMetadataResponseV24"
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: ReplacedId Stream not found
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
    get:
      deprecated: true
      summary: Elenca stream di eventi
      description: >-
        Elenca gli stream di eventi
      tags:
        - Streams
      operationId: listEventStreamsV24
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamListResponse"
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

    ############################################################################################
    ###                        lEGGI METADATA DELLO STREAM                                   ###
    ############################################################################################
  '/delivery-progresses/v2.4/streams/{streamId}':
    parameters:
      - $ref: '#/components/parameters/uidAuthFleet'          # NO EXTERNAL
      - $ref: '#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
      - $ref: '#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
      - $ref: '#/components/parameters/cxGroupsAuthFleet'         # NO EXTERNAL
      - $ref: '#/components/parameters/headerApiVersion'         # NO EXTERNAL
      - $ref: '#/components/parameters/pathStreamId'
    get:
      deprecated: true
      summary: Leggi metadata dello stream
      description: >-
        Lettura delle configurazioni di uno stream di eventi.
      tags:
        - Streams
      operationId: getEventStreamV24                             # NO EXTERNAL
#      operationId: retrieveEventStreamV24                       # ONLY EXTERNAL
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamMetadataResponseV24"
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Stream not found
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
    put:
      deprecated: true
      summary: Update Stream metadata
      description: >-
        Modifica delle configurazioni dei filtri associati a uno stream di eventi
      tags:
        - Streams
      operationId: updateEventStreamV24
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StreamRequestV24"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamMetadataResponseV24"
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Stream not found
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
    delete:
      deprecated: true
      summary: Remove Event Stream
      description: >-
        Cancellazione dello steam di eventi: elimina sia le configurazioni sia tutti gli eventi
        associati allo stream e non ancora consumati.
      tags:
        - Streams
      operationId: deleteEventStreamV24                          # NO EXTERNAL
#      operationId: removeEventStreamV24                         # ONLY EXTERNAL
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      responses:
        '204':
          description: OK
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: './remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Stream not found
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
  
  ############################################################################################
  ###                             DISABILITARE UNO STREAM                                  ###
  ############################################################################################

  '/delivery-progresses/v2.4/streams/{streamId}/action/disable':
    post:
      deprecated: true
      summary: Disabilita uno stream
      description: >-
        Disabilita uno stream.


        Da uno stream disabilitato è possibile leggere gli eventi presenti nello stream salvati prima
        della disabilitazione, ma non ne saranno aggiunti di nuovi.


        Non è possibile modificare o riabilitare uno stream disabilitato.


        Uno stream disabilitato non rientra nel conteggio degli stream massimi, non può essere riabilitato e verrà
        eliminato automaticamente dopo <span id="webhookTtlDisabled">14</span> giorni.
      tags:
        - Streams
      operationId: disableEventStreamV24
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet'          # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet'         # NO EXTERNAL
        - $ref: '#/components/parameters/headerApiVersion'         # NO EXTERNAL
        - $ref: '#/components/parameters/pathStreamId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamMetadataResponseV24"
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Stream not found
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

    ############################################################################################
    ###                             LETTURA EVENTI DA UNO STREAM                             ###
    ############################################################################################
  '/delivery-progresses/v2.4/streams/{streamId}/events':
    get:
      deprecated: true
      summary: Leggi progressi notifiche
      description: >-
        Lettura degli eventi presenti nello stream di aggiornamenti con indicazione che
        il mittente ha ricevuto e memorizzato l'evento identificato dal parametro _lastEventId_
        e tutti gli eventi precedenti. Tali eventi potranno essere cancellati dallo stream.
      tags:
        - Events
      operationId: consumeEventStreamV24
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet'          # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet'         # NO EXTERNAL
        - $ref: '#/components/parameters/headerApiVersion'         # NO EXTERNAL
        - $ref: '#/components/parameters/pathStreamId'
        - $ref: '#/components/parameters/queryLastEventId'
      responses:
        '200':
          description: OK
          headers:
            retry-after:
              schema:
                type: integer
                format: int32
              description: >-
                Numero di millisecondi di attesa prima di effettuare una nuova lettura di eventi.

                Sarà valorizzato a zero se ci sono eventi in coda che non sono stati forniti per 
                raggiunta dimensione massima della risposta.

                Sarà maggiore di zero se gli eventi in coda sono stati tutti inviati.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProgressResponseV24"
        '429':
          description: Too Many Requests
          headers:
            retry-after:
              schema:
                type: integer
                format: int32
              description: >-
                Numero di millisecondi di attesa prima di effettuare una nuova lettura di eventi.
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Not allowed to consume details
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Stream not found
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
                
                
  ############################################################################################
  ###                        API VERSIONE 2.5                                              ###
  ############################################################################################
      
  ############################################################################################
  ###                        CREAZIONE E CANCELLAZIONE STREAM EVENTI                       ###
  ############################################################################################
  '/delivery-progresses/v2.5/streams':
    parameters: # NO EXTERNAL
      - $ref: '#/components/parameters/uidAuthFleet'          # NO EXTERNAL
      - $ref: '#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
      - $ref: '#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
      - $ref: '#/components/parameters/cxGroupsAuthFleet'         # NO EXTERNAL
      - $ref: '#/components/parameters/headerApiVersion'         # NO EXTERNAL
    post:
      deprecated: true
      summary: Crea nuovo stream di eventi
      description: >-
        Creazione di un flusso di eventi specificando se gli eventi saranno
        relativi ai cambi di stato o agli eventi di timeline.


        In risposta, Piattaforma Notifiche, comunicherà un identificativo dello stream e il 
        timestamp di effettiva attivazione del flusso, tipicamente pochi secondi dopo che è stata 
        invocata l'operazione.
      tags:
        - Streams
      operationId: createEventStreamV25
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StreamCreationRequestV25"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamMetadataResponseV25"
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: ReplacedId Stream not found
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
    get:
      deprecated: true
      summary: Elenca stream di eventi
      description: >-
        Elenca gli stream di eventi
      tags:
        - Streams
      operationId: listEventStreamsV25
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamListResponse"
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

    ############################################################################################
    ###                        lEGGI METADATA DELLO STREAM                                   ###
    ############################################################################################
  '/delivery-progresses/v2.5/streams/{streamId}':
    parameters:
      - $ref: '#/components/parameters/uidAuthFleet'          # NO EXTERNAL
      - $ref: '#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
      - $ref: '#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
      - $ref: '#/components/parameters/cxGroupsAuthFleet'         # NO EXTERNAL
      - $ref: '#/components/parameters/headerApiVersion'         # NO EXTERNAL
      - $ref: '#/components/parameters/pathStreamId'
    get:
      deprecated: true
      summary: Leggi metadata dello stream
      description: >-
        Lettura delle configurazioni di uno stream di eventi.
      tags:
        - Streams
      operationId: getEventStreamV25                             # NO EXTERNAL
      # operationId: retrieveEventStreamV25                 # ONLY EXTERNAL
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamMetadataResponseV25"
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Stream not found
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
    put:
      deprecated: true
      summary: Update Stream metadata
      description: >-
        Modifica delle configurazioni dei filtri associati a uno stream di eventi
      tags:
        - Streams
      operationId: updateEventStreamV25
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StreamRequestV25"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamMetadataResponseV25"
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Stream not found
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
    delete:
      deprecated: true
      summary: Remove Event Stream
      description: >-
        Cancellazione dello steam di eventi: elimina sia le configurazioni sia tutti gli eventi
        associati allo stream e non ancora consumati.
      tags:
        - Streams
      operationId: deleteEventStreamV25                          # NO EXTERNAL
      #      operationId: removeEventStreamV25                         # ONLY EXTERNAL
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      responses:
        '204':
          description: OK
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: './remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Stream not found
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  ############################################################################################
  ###                             DISABILITARE UNO STREAM                                  ###
  ############################################################################################

  '/delivery-progresses/v2.5/streams/{streamId}/action/disable':
    post:
      deprecated: true
      summary: Disabilita uno stream
      description: >-
        Disabilita uno stream.


        Da uno stream disabilitato è possibile leggere gli eventi presenti nello stream salvati prima
        della disabilitazione, ma non ne saranno aggiunti di nuovi.


        Non è possibile modificare o riabilitare uno stream disabilitato.


        Uno stream disabilitato non rientra nel conteggio degli stream massimi, non può essere riabilitato e verrà
        eliminato automaticamente dopo <span id="webhookTtlDisabled">14</span> giorni.
      tags:
        - Streams
      operationId: disableEventStreamV25
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet'          # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet'         # NO EXTERNAL
        - $ref: '#/components/parameters/headerApiVersion'         # NO EXTERNAL
        - $ref: '#/components/parameters/pathStreamId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamMetadataResponseV25"
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Stream not found
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

    ############################################################################################
    ###                             LETTURA EVENTI DA UNO STREAM                             ###
    ############################################################################################

  '/delivery-progresses/v2.5/streams/{streamId}/events':
    get:
      deprecated: true
      summary: Leggi progressi notifiche
      description: >-
        Lettura degli eventi presenti nello stream di aggiornamenti con indicazione che
        il mittente ha ricevuto e memorizzato l'evento identificato dal parametro _lastEventId_
        e tutti gli eventi precedenti. Tali eventi potranno essere cancellati dallo stream.
      tags:
        - Events
      operationId: consumeEventStreamV25
      x-pagopa-lambda-name: 'pn-versioningV1V2WebhookLambda:live'
      x-pagopa-lambda-account: core
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet'          # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet'         # NO EXTERNAL
        - $ref: '#/components/parameters/headerApiVersion'         # NO EXTERNAL
        - $ref: '#/components/parameters/pathStreamId'
        - $ref: '#/components/parameters/queryLastEventId'
      responses:
        '200':
          description: OK
          headers:
            retry-after:
              schema:
                type: integer
                format: int32
              description: >-
                Numero di millisecondi di attesa prima di effettuare una nuova lettura di eventi.

                Sarà valorizzato a zero se ci sono eventi in coda che non sono stati forniti per 
                raggiunta dimensione massima della risposta.

                Sarà maggiore di zero se gli eventi in coda sono stati tutti inviati.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProgressResponseV25"
        '429':
          description: Too Many Requests
          headers:
            retry-after:
              schema:
                type: integer
                format: int32
              description: >-
                Numero di millisecondi di attesa prima di effettuare una nuova lettura di eventi.
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Not allowed to consume details
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Stream not found
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

components:

  parameters:
    ############################################################################################
    ###                     PARAMETRI DI AUTENTICAZIONE E AUTORIZZAZIONE                     ###
    ############################################################################################
    cxTypeAuthFleet:                                                                                                                                            # NO EXTERNAL
      $ref: 'https://raw.githubusercontent.com/pagopa/pn-auth-fleet/a1f457ddc112983ec79be0be93256476dd11102c/docs/openapi/authenticationParameters-v1.yaml#/components/parameters/cxTypeAuthFleet'  # NO EXTERNAL
    cxIdAuthFleet:                                                                                                                                              # NO EXTERNAL
      $ref: 'https://raw.githubusercontent.com/pagopa/pn-auth-fleet/a1f457ddc112983ec79be0be93256476dd11102c/docs/openapi/authenticationParameters-v1.yaml#/components/parameters/cxIdAuthFleet'    # NO EXTERNAL
    uidAuthFleet:                                                                                                                                               # NO EXTERNAL
      $ref: 'https://raw.githubusercontent.com/pagopa/pn-auth-fleet/a1f457ddc112983ec79be0be93256476dd11102c/docs/openapi/authenticationParameters-v1.yaml#/components/parameters/uidAuthFleet'     # NO EXTERNAL
    cxGroupsAuthFleet:                                                                                                                                          # NO EXTERNAL
      $ref: 'https://raw.githubusercontent.com/pagopa/pn-auth-fleet/a1f457ddc112983ec79be0be93256476dd11102c/docs/openapi/authenticationParameters-v1.yaml#/components/parameters/cxGroupsAuthFleet' # NO EXTERNAL


    ############################################################################################
    ###                                   PARAMETRI STREAMS                                  ###
    ############################################################################################
    queryLastEventId:
      description: >-
        Identificativo dell'ultimo evento memorizzato dal chiamante, se non passato si intende dal primo evento presente nello stream.
        Numero in una stringa di 38 caratteri con padding iniziale composto da '0'.
      name: lastEventId
      in: query
      required: false
      schema:
        type: string
        minLength: 38
        maxLength: 38
        pattern: ^0\d{37}$
    pathStreamId:
      description: >-
        Identificativo dello stream di eventi
      name: streamId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        #minLength: 36
        #maxLength: 36
    headerApiVersion: # NO EXTERNAL
      name: x-pagopa-pn-api-version                                                                       # NO EXTERNAL
      in: header                                                                                          # NO EXTERNAL
      description: Api version                                                                            # NO EXTERNAL
      required: false                                                                                     # NO EXTERNAL
      schema: # NO EXTERNAL
        type: string                                                                                      # NO EXTERNAL
        pattern: ^v\d\d\d?$                                                                               # NO EXTERNAL

  schemas:
    
    ############################################################################################
    ###                        COMPONENT API VERSIONE 1.0                                    ###
    ############################################################################################

    ############################################################################################
    ###                          CREAZIONE E GESTIONE EVENT STREAM                           ###
    ############################################################################################
    StreamCreationRequest:
      description: Richiesta di creazione di uno stream di eventi di avanzamento delle notifiche.
      type: object
      required:
        - title
        - eventType
      properties:
        title:
          description: Nome sintetico dello stream
          type: string
          maxLength: 256
          pattern: ^.*$
        eventType:
          description: >-
            Tipo di eventi presenti nel flusso:
              - _STATUS_: cambiamenti di stato delle notifiche
              - _TIMELINE_: eventi a granularità fine
          type: string
          enum:
            - STATUS
            - TIMELINE
        filterValues:
          description: >-
            rappresenta l'elenco degli stati o elementi di timeline che si vogliono filtrare; inserendo un array vuoto [] si riceveranno solo gli elementi relativi a v1
          type: array
          items:
            type: string
            minLength: 4
            maxLength: 256
            pattern: ^[A-Z_]+$

    StreamMetadataResponse:
      description: Configurazioni di un flusso di eventi
      allOf:
        - $ref: '#/components/schemas/StreamCreationRequest'
        - type: object
          required:
            - streamId
            - activationDate
          properties:
            streamId:
              description: Identificativo del flusso di eventi
              type: string
              format: uuid
              #minLength: 36
              #maxLength: 36
            activationDate:
              description: Timestamp in cui il flusso di eventi è stato attivato
              type: string
              format: date-time

    StreamListResponse:
      description: Elenco di flussi di eventi
      type: array
      items:
        $ref: '#/components/schemas/StreamListElement'

    StreamListElement:
      type: object
      required:
        - title
        - streamId
      properties:
        streamId:
          type: string
          format: uuid
          #minLength: 36
          #maxLength: 36
        title:
          type: string
          maxLength: 256
          pattern: ^.*$



    ############################################################################################
    ###                                  DEFINIZIONI EVENTI                                  ###
    ############################################################################################

    ###  - EVENTI GENERATI DA PN
    ###################################

    ProgressResponse:
      type: array
      items:
        $ref: '#/components/schemas/ProgressResponseElement'
    
    ProgressResponseElement:
      type: object
      required:
        - eventId
        - timestamp
      properties:
        eventId:
          description: >-
            Elemento che garantisce univocità e ordinamento temporale all'interno dello stream
          type: string
        timestamp:
          description: Istante a cui è avvenuto l'evento
          type: string
          format: date-time

        notificationRequestId:
          description: Identificativo della richiesta di notifica
          type: string
        iun:
          description: >-
            Identificativo della notifica, presente solo se la richiesta di notifica è
            stata accettata.
          type: string
          maxLength: 25
          pattern: ^[A-Z]{4}-[A-Z]{4}-[A-Z]{4}-[0-9]{6}-[A-Z]{1}-[0-9]{1}$

        newStatus:
          $ref: './schemas-pn-status-older-version.yaml#/components/schemas/NotificationStatus'
        timelineEventCategory:
#          apparentemente non retrocompatibile ma gli stream continueranno a mandare category della versione 1 fino ad esplicita modifica delle config da parte della PA
          $ref: './schemas-pn-timeline-older-version.yaml#/components/schemas/TimelineElementCategoryV23'
        recipientIndex:
          type: integer
          format: int32
          minimum: 0
          description: Indice del destinatario al quale si riferisce l'evento
        analogCost:
          type: integer
          format: int32
          description: Eventuale costo in eurocent associato all'evento
        channel:
          type: string
          description: >-
            Canale a cui si riferisce l'evento. I valori previsti sono:
            - Per eventi legati a messaggi di cortesia: APPIO, SMS, EMAIL
            - Per eventi legati all'invio digitale: PEC
            - Per eventi legati all'invio analogico: AR_REGISTERED_LETTER, REGISTERED_LETTER_890
            - Per eventi legati all'invio di raccomandate semplici: SIMPLE_REGISTERED_LETTER

        legalfactIds:
          type: array
          items:
            type: string
          example: ["PN_LEGAL_FACTS-0002-9G2S-RK3M-JI62-JK9Q", "PN_LEGAL_FACTS-0002-9G2S-RK3M-JI62-JK9E"]
          description: chiavi degli eventuali allegati associati all'evento

        validationErrors:
          type: array
          description: eventuali errori di validazione associati all'evento
          items:
            $ref: '#/components/schemas/RefusedReason'
    
    RefusedReason:
      type: object
      properties:
        errorCode:
          type: string
        detail:
          type: string

    ###  - EVENTI GENERATI DALLA P.A.
    ###################################
    ExternalEventsRequest:                                                              # NOT YET IMPLEMENTED
      title: Invio eventi da P.A. a P.N.                                                # NOT YET IMPLEMENTED
      description: >-                                                                   # NOT YET IMPLEMENTED
        Richiesta contenente un array di eventi di cui una Pubblica Amministrazione     # NOT YET IMPLEMENTED
        deve avvisare Piattaforma Notifiche.                                            # NOT YET IMPLEMENTED
      type: object                                                                      # NOT YET IMPLEMENTED
      required:                                                                         # NOT YET IMPLEMENTED
        - events                                                                        # NOT YET IMPLEMENTED
      properties:                                                                       # NOT YET IMPLEMENTED
        events:                                                                         # NOT YET IMPLEMENTED
          description: Elenco degli eventi                                              # NOT YET IMPLEMENTED
          type: array                                                                   # NOT YET IMPLEMENTED
          items:                                                                        # NOT YET IMPLEMENTED
            $ref: '#/components/schemas/ExternalEvent'                                  # NOT YET IMPLEMENTED

    ExternalEvent:                                                                      # NOT YET IMPLEMENTED
      title: Un evento generato all'esterno di PN.                                      # NOT YET IMPLEMENTED
      description: >-                                                                   # NOT YET IMPLEMENTED
        Un evento riguardante la notifica generato all'esterno di Piattaforma Notifiche come, # NOT YET IMPLEMENTED
        ad esempio, il pagamento che può avvenire anche tramite F24. <br/>                    # NOT YET IMPLEMENTED
                                                                                              # NOT YET IMPLEMENTED
        Deve essere valorizzata una solo campo, quello specifico del tipo di evento.          # NOT YET IMPLEMENTED
      type: object                                                                      # NOT YET IMPLEMENTED
      properties:                                                                       # NOT YET IMPLEMENTED
        payment:                                                                        # NOT YET IMPLEMENTED
          $ref: '#/components/schemas/PaymentEvent'                                     # NOT YET IMPLEMENTED

    PaymentEvent:                                                                       # NOT YET IMPLEMENTED
      title: Evento di pagamento                                                        # NOT YET IMPLEMENTED
      description: >-                                                                   # NOT YET IMPLEMENTED
        Comprende: <br/>                                                                # NOT YET IMPLEMENTED
          - data e ora del pagamento, <br/>                                             # NOT YET IMPLEMENTED
          - modalità di pagamento (PAGOPA / F24), <br/>                                 # NOT YET IMPLEMENTED
          - lo _IUN_ della notifica pagata, <br/>                                       # NOT YET IMPLEMENTED
          - il codice fiscale del destinatario pagatore, <br/>                          # NOT YET IMPLEMENTED
          - e la tipologia del destinatario pagatore (PF / PG). <br/>                   # NOT YET IMPLEMENTED
      type: object                                                                      # NOT YET IMPLEMENTED
      required:                                                                         # NOT YET IMPLEMENTED
        - iun                                                                           # NOT YET IMPLEMENTED
        - recipientTaxId                                                                # NOT YET IMPLEMENTED
        - recipientType                                                                 # NOT YET IMPLEMENTED
        - paymentType                                                                   # NOT YET IMPLEMENTED
        - timestamp                                                                     # NOT YET IMPLEMENTED
      properties:                                                                       # NOT YET IMPLEMENTED
        iun:                                                                            # NOT YET IMPLEMENTED
          type: string                                                                  # NOT YET IMPLEMENTED
          maxLength: 25                                                                 # NOT YET IMPLEMENTED
          pattern: ^[A-Z]{4}-[A-Z]{4}-[A-Z]{4}-[0-9]{6}-[A-Z]{1}-[0-9]{1}$              # NOT YET IMPLEMENTED
        recipientTaxId:                                                                 # NOT YET IMPLEMENTED
          type: string                                                                  # NOT YET IMPLEMENTED
          minLength: 11                                                                 # NOT YET IMPLEMENTED
          maxLength: 16                                                                 # NOT YET IMPLEMENTED
          pattern: ^([A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z]{1}[0-9LMNPQRSTUV]{2}[A-Z]{1}[0-9LMNPQRSTUV]{3}[A-Z]{1})|([0-9]{11})$ # NOT YET IMPLEMENTED
        recipientType:                                                                  # NOT YET IMPLEMENTED
          $ref: './schemas-pn-notification.yaml#/components/schemas/RecipientType'      # NOT YET IMPLEMENTED
        paymentType:                                                                    # NOT YET IMPLEMENTED
          type: string                                                                  # NOT YET IMPLEMENTED
          enum:                                                                        # NOT YET IMPLEMENTED
            - PAGOPA                                                                    # NOT YET IMPLEMENTED
        timestamp:                                                                      # NOT YET IMPLEMENTED
          type: string                                                                  # NOT YET IMPLEMENTED
          format: date-time                                                             # NOT YET IMPLEMENTED

    ############################################################################################
    ###                        COMPONENT API VERSIONE 2.3                                    ###
    ############################################################################################
    
    ############################################################################################
    ###                          CREAZIONE E GESTIONE EVENT STREAM                           ###
    ############################################################################################
    StreamCreationRequestV23:
      description: Richiesta di creazione di uno stream di eventi di avanzamento delle notifiche. Lo stream verrà creato nello stato abilitato
      type: object
      allOf:
        - $ref: '#/components/schemas/StreamRequestV23'
        - type: object
          properties:
            replacedStreamId:
              description: >-
                opzionale, eventuale streamId che viene sostituito da questo. Se specificato, lo stream indicato sarà disabilitato contestualmente alla creazione del nuovo stream,
                permettendo di consumare tutti gli eventi del vecchio stream senza che ne vengano aggiunti di nuovi.
                Inoltre, il nuovo stream partirà da un eventId successivo rispetto al vecchio stream (anche se non "esattamente" successivo
                per evitare sovrapposizioni con eventuali eventi salvati durante il cambio di configurazione).
                La creazione del nuovo stream è soggetta al controllo di autorizzazione dell'apiKey sui gruppi del precedente stream.
              type: string
              format: uuid
    
    StreamRequestV23:
      description: >-
        Struttura comune per eventi di creazione/aggiornamento di uno stream di eventi di avanzamento delle notifiche.
        L'aggiornamento delle proprietà dello stream è soggetta al controllo di autorizzazione dell'apiKey sui gruppi.
      type: object
      required:
        - title
        - eventType
        - groups
      properties:
        title:
          description: Nome sintetico dello stream
          type: string
          maxLength: 256
          pattern: ^.*$
        eventType:
          description: >-
            Tipo di eventi presenti nel flusso:
              - _STATUS_: cambiamenti di stato delle notifiche
              - _TIMELINE_: eventi a granularità fine
          type: string
          enum:
            - STATUS
            - TIMELINE
        groups:
          description: >-
            rappresenta l'elenco degli id gruppi abilitati a richiedere i dettagli. Una apiKey può consumare o modificare uno stream solo se non ha gruppi o se tutti i gruppi dello stream sono presenti nella apiKey.
            Se viene specificato array vuoto, si noti che solo apiKey senza gruppi potranno consumare o modificare lo stream.
            Inoltre, nel caso di updateEventStream, la lista dei gruppi presente nello stream deve essere un sottoinsieme dei gruppi passati nella richiesta (in pratica si possono solo aggiungere gruppi a quelli esistenti)
            oppure entrambi array vuoti.
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/StreamGroup'
            minLength: 0
        filterValues:
          description: >-
            rappresenta l'elenco degli stati o elementi di timeline che si vogliono filtrare; inserendo un array vuoto [] si riceveranno solo gli elementi relativi alla versione con cui è stato creato lo stream.
            Se specificati invece, avranno priorità rispetto agli eventi della versione (quindi se sono un sottoinsieme, si riceveranno solo quelli. Se si specificano eventi introdotti in versioni più recenti, questi saranno inviati)
            Infine, è possibile utilizzare il placeholder "DEFAULT" per specificare l'insieme di eventi più rilevanti di una notifica.
          type: array
          items:
            type: string
            minLength: 4
            maxLength: 256
            pattern: ^[A-Z_]+$
    
    StreamGroup:
      type: string
      description: >-
        Identificativo del gruppo.
        
    StreamMetadataResponseV23:
      description: Configurazioni di un flusso di eventi
      allOf:
        - $ref: '#/components/schemas/StreamRequestV23'
        - type: object
          required:
            - streamId
            - activationDate
          properties:
            streamId:
              description: Identificativo del flusso di eventi
              type: string
              format: uuid
              #minLength: 36
              #maxLength: 36
            activationDate:
              description: Timestamp in cui il flusso di eventi è stato attivato
              type: string
              format: date-time
            disabledDate:
              description: Timestamp in cui il flusso di eventi è stato disabilitato
              type: string
              format: date-time
            version:
              description: >-
                versione di base dello stream.
              type: string
              pattern: ^v\d\d\d?$
    
    ############################################################################################
    ###                                  DEFINIZIONI EVENTI                                  ###
    ############################################################################################

    ProgressResponseV23:
      type: array
      items:
        $ref: '#/components/schemas/ProgressResponseElementV23'
    
    ProgressResponseElementV23:
      type: object
      required:
        - eventId
        - element
      properties:
        eventId:
          description: >-
            Elemento che garantisce univocità e ordinamento temporale all'interno dello stream
          type: string
        notificationRequestId:
          description: Identificativo della richiesta di notifica
          type: string
        iun:
          description: >-
            Identificativo della notifica, presente solo se la richiesta di notifica è 
            stata accettata.
          type: string
          maxLength: 25
          pattern: ^[A-Z]{4}-[A-Z]{4}-[A-Z]{4}-[0-9]{6}-[A-Z]{1}-[0-9]{1}$
        newStatus:
          $ref: './schemas-pn-status-older-version.yaml#/components/schemas/NotificationStatus'
        element:
          $ref: './schemas-pn-timeline-older-version.yaml#/components/schemas/TimelineElementV23'
        # proprietà necessarie per retro compatibilità nel transitorio, ma che non saranno esposte nella V23 # NO EXTERNAL
        # potranno essere eliminate (assieme al RefusedReason) quando non saranno più presenti eventi della v1 # NO EXTERNAL
        timestamp: # NO EXTERNAL
          type: string                                                                                     # NO EXTERNAL
          format: date-time                                                                                # NO EXTERNAL
        timelineEventCategory: # NO EXTERNAL
          $ref: './schemas-pn-timeline-older-version.yaml#/components/schemas/TimelineElementCategoryV23'                # NO EXTERNAL
        recipientIndex: # NO EXTERNAL
          type: integer                                                                                    # NO EXTERNAL
          format: int32                                                                                    # NO EXTERNAL
          minimum: 0                                                                                       # NO EXTERNAL
        analogCost: # NO EXTERNAL
          type: integer                                                                                    # NO EXTERNAL
          format: int32                                                                                    # NO EXTERNAL
        channel: # NO EXTERNAL
          type: string                                                                                     # NO EXTERNAL
        legalfactIds: # NO EXTERNAL
          type: array                                                                                      # NO EXTERNAL
          items: # NO EXTERNAL
            type: string                                                                                   # NO EXTERNAL
          example: [ "PN_LEGAL_FACTS-0002-9G2S-RK3M-JI62-JK9Q", "PN_LEGAL_FACTS-0002-9G2S-RK3M-JI62-JK9E" ]  # NO EXTERNAL
          description: chiavi degli eventuali allegati associati all'evento                                # NO EXTERNAL
        validationErrors: # NO EXTERNAL
          type: array                                                                                      # NO EXTERNAL
          description: eventuali errori di validazione associati all'evento                                # NO EXTERNAL
          items: # NO EXTERNAL
            $ref: '#/components/schemas/RefusedReason'                                                     # NO EXTERNAL

    ############################################################################################
    ###                        COMPONENT API VERSIONE 2.4                                    ###
    ############################################################################################

    ############################################################################################
    ###                          CREAZIONE E GESTIONE EVENT STREAM                           ###
    ############################################################################################
    StreamCreationRequestV24:
      description: Richiesta di creazione di uno stream di eventi di avanzamento delle notifiche. Lo stream verrà creato nello stato abilitato
      type: object
      allOf:
        - $ref: '#/components/schemas/StreamRequestV24'
        - type: object
          properties:
            replacedStreamId:
              description: >-
                opzionale, eventuale streamId che viene sostituito da questo. Se specificato, lo stream indicato sarà disabilitato contestualmente alla creazione del nuovo stream,
                permettendo di consumare tutti gli eventi del vecchio stream senza che ne vengano aggiunti di nuovi.
                Inoltre, il nuovo stream partirà da un eventId successivo rispetto al vecchio stream (anche se non "esattamente" successivo
                per evitare sovrapposizioni con eventuali eventi salvati durante il cambio di configurazione).
                La creazione del nuovo stream è soggetta al controllo di autorizzazione dell'apiKey sui gruppi del precedente stream.
              type: string
              format: uuid

    StreamRequestV24:
      description: >-
        Struttura comune per eventi di creazione/aggiornamento di uno stream di eventi di avanzamento delle notifiche.
        L'aggiornamento delle proprietà dello stream è soggetta al controllo di autorizzazione dell'apiKey sui gruppi.
      type: object
      required:
        - title
        - eventType
        - groups
      properties:
        title:
          description: Nome sintetico dello stream
          type: string
          maxLength: 256
          pattern: ^.*$
        eventType:
          description: >-
            Tipo di eventi presenti nel flusso:
              - _STATUS_: cambiamenti di stato delle notifiche
              - _TIMELINE_: eventi a granularità fine
          type: string
          enum:
            - STATUS
            - TIMELINE
        groups:
          description: >-
            rappresenta l'elenco degli id gruppi abilitati a richiedere i dettagli. Una apiKey può consumare o modificare uno stream solo se non ha gruppi o se tutti i gruppi dello stream sono presenti nella apiKey.
            Se viene specificato array vuoto, si noti che solo apiKey senza gruppi potranno consumare o modificare lo stream.
            Inoltre, nel caso di updateEventStream, la lista dei gruppi presente nello stream deve essere un sottoinsieme dei gruppi passati nella richiesta (in pratica si possono solo aggiungere gruppi a quelli esistenti)
            oppure entrambi array vuoti.
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/StreamGroup'
            minLength: 0
        filterValues:
          description: >-
            rappresenta l'elenco degli stati o elementi di timeline che si vogliono filtrare; inserendo un array vuoto [] si riceveranno solo gli elementi relativi alla versione con cui è stato creato lo stream.
            Se specificati invece, avranno priorità rispetto agli eventi della versione (quindi se sono un sottoinsieme, si riceveranno solo quelli. Se si specificano eventi introdotti in versioni più recenti, questi saranno inviati)
            Infine, è possibile utilizzare il placeholder "DEFAULT" per specificare l'insieme di eventi più rilevanti di una notifica.
          type: array
          items:
            type: string
            minLength: 4
            maxLength: 256
            pattern: ^[A-Z_]+$

    StreamMetadataResponseV24:
      description: Configurazioni di un flusso di eventi
      allOf:
        - $ref: '#/components/schemas/StreamRequestV24'
        - type: object
          required:
            - streamId
            - activationDate
          properties:
            streamId:
              description: Identificativo del flusso di eventi
              type: string
              format: uuid
              #minLength: 36
              #maxLength: 36
            activationDate:
              description: Timestamp in cui il flusso di eventi è stato attivato
              type: string
              format: date-time
            disabledDate:
              description: Timestamp in cui il flusso di eventi è stato disabilitato
              type: string
              format: date-time
            version:
              description: >-
                versione di base dello stream.
              type: string
              pattern: ^v\d\d\d?$

    ############################################################################################
    ###                                  DEFINIZIONI EVENTI                                  ###
    ############################################################################################

    ###  - EVENTI GENERATI DA PN
    ###################################

    ProgressResponseV24:
      type: array
      items:
        $ref: '#/components/schemas/ProgressResponseElementV24'

    ProgressResponseElementV24:
      type: object
      required:
        - eventId
        - element
      properties:
        eventId:
          description: >-
            Elemento che garantisce univocità e ordinamento temporale all'interno dello stream
          type: string
        notificationRequestId:
          description: Identificativo della richiesta di notifica
          type: string
        iun:
          description: >-
            Identificativo della notifica, presente solo se la richiesta di notifica è 
            stata accettata.
          type: string
          maxLength: 25
          pattern: ^[A-Z]{4}-[A-Z]{4}-[A-Z]{4}-[0-9]{6}-[A-Z]{1}-[0-9]{1}$
        newStatus:
          $ref: './schemas-pn-status-older-version.yaml#/components/schemas/NotificationStatus'
        element:
          $ref: './schemas-pn-timeline-older-version.yaml#/components/schemas/TimelineElementV24'
        # proprietà necessarie per retro compatibilità nel transitorio, ma che non saranno esposte nella V24 # NO EXTERNAL
        # potranno essere eliminate (assieme al RefusedReason) quando non saranno più presenti eventi della v1 # NO EXTERNAL
        timestamp:                                                                                         # NO EXTERNAL
          type: string                                                                                     # NO EXTERNAL
          format: date-time                                                                                # NO EXTERNAL
        timelineEventCategory:                                                                             # NO EXTERNAL
          $ref: './schemas-pn-timeline-older-version.yaml#/components/schemas/TimelineElementCategoryV23'                # NO EXTERNAL
        recipientIndex:                                                                                    # NO EXTERNAL
          type: integer                                                                                    # NO EXTERNAL
          format: int32                                                                                    # NO EXTERNAL
          minimum: 0                                                                                       # NO EXTERNAL
        analogCost:                                                                                        # NO EXTERNAL
          type: integer                                                                                    # NO EXTERNAL
          format: int32                                                                                    # NO EXTERNAL
        channel:                                                                                           # NO EXTERNAL
          type: string                                                                                     # NO EXTERNAL
        legalfactIds:                                                                                      # NO EXTERNAL
          type: array                                                                                      # NO EXTERNAL
          items:                                                                                           # NO EXTERNAL
            type: string                                                                                   # NO EXTERNAL
          example: ["PN_LEGAL_FACTS-0002-9G2S-RK3M-JI62-JK9Q", "PN_LEGAL_FACTS-0002-9G2S-RK3M-JI62-JK9E"]  # NO EXTERNAL
          description: chiavi degli eventuali allegati associati all'evento                                # NO EXTERNAL
        validationErrors:                                                                                  # NO EXTERNAL
          type: array                                                                                      # NO EXTERNAL
          description: eventuali errori di validazione associati all'evento                                # NO EXTERNAL
          items:                                                                                           # NO EXTERNAL
            $ref: '#/components/schemas/RefusedReason'                                                     # NO EXTERNAL
            
    ############################################################################################
    ###                        COMPONENT API VERSIONE 2.5                                    ###
    ############################################################################################
    
    ############################################################################################
    ###                          CREAZIONE E GESTIONE EVENT STREAM                           ###
    ############################################################################################
    StreamCreationRequestV25:
      description: Richiesta di creazione di uno stream di eventi di avanzamento delle notifiche. Lo stream verrà creato nello stato abilitato
      type: object
      allOf:
        - $ref: '#/components/schemas/StreamRequestV25'
        - type: object
          properties:
            replacedStreamId:
              description: >-
                opzionale, eventuale streamId che viene sostituito da questo. Se specificato, lo stream indicato sarà disabilitato contestualmente alla creazione del nuovo stream,
                permettendo di consumare tutti gli eventi del vecchio stream senza che ne vengano aggiunti di nuovi.
                Inoltre, il nuovo stream partirà da un eventId successivo rispetto al vecchio stream (anche se non "esattamente" successivo
                per evitare sovrapposizioni con eventuali eventi salvati durante il cambio di configurazione).
                La creazione del nuovo stream è soggetta al controllo di autorizzazione dell'apiKey sui gruppi del precedente stream.
              type: string
              format: uuid

    StreamRequestV25:
      description: >-
        Struttura comune per eventi di creazione/aggiornamento di uno stream di eventi di avanzamento delle notifiche.
        L'aggiornamento delle proprietà dello stream è soggetta al controllo di autorizzazione dell'apiKey sui gruppi.
      type: object
      required:
        - title
        - eventType
        - groups
      properties:
        title:
          description: Nome sintetico dello stream
          type: string
          maxLength: 256
          pattern: ^.*$
        eventType:
          description: >-
            Tipo di eventi presenti nel flusso:
              - _STATUS_: cambiamenti di stato delle notifiche
              - _TIMELINE_: eventi a granularità fine
          type: string
          enum:
            - STATUS
            - TIMELINE
        groups:
          description: >-
            rappresenta l'elenco degli id gruppi abilitati a richiedere i dettagli. Una apiKey può consumare o modificare uno stream solo se non ha gruppi o se tutti i gruppi dello stream sono presenti nella apiKey.
            Se viene specificato array vuoto, si noti che solo apiKey senza gruppi potranno consumare o modificare lo stream.
            Inoltre, nel caso di updateEventStream, la lista dei gruppi presente nello stream deve essere un sottoinsieme dei gruppi passati nella richiesta (in pratica si possono solo aggiungere gruppi a quelli esistenti)
            oppure entrambi array vuoti.
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/StreamGroup'
            minLength: 0
        filterValues:
          description: >-
            rappresenta l'elenco degli stati o elementi di timeline che si vogliono filtrare; inserendo un array vuoto [] si riceveranno solo gli elementi relativi alla versione con cui è stato creato lo stream.
            Se specificati invece, avranno priorità rispetto agli eventi della versione (quindi se sono un sottoinsieme, si riceveranno solo quelli. Se si specificano eventi introdotti in versioni più recenti, questi saranno inviati)
            Infine, è possibile utilizzare il placeholder "DEFAULT" per specificare l'insieme di eventi più rilevanti di una notifica.
          type: array
          items:
            type: string
            minLength: 4
            maxLength: 256
            pattern: ^[A-Z_]+$

    StreamMetadataResponseV25:
      description: Configurazioni di un flusso di eventi
      allOf:
        - $ref: '#/components/schemas/StreamRequestV25'
        - type: object
          required:
            - streamId
            - activationDate
          properties:
            streamId:
              description: Identificativo del flusso di eventi
              type: string
              format: uuid
              #minLength: 36
              #maxLength: 36
            activationDate:
              description: Timestamp in cui il flusso di eventi è stato attivato
              type: string
              format: date-time
            disabledDate:
[...]
